@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.dev/svgjs' width='1920' height='950' preserveAspectRatio='none' viewBox='0 0 1920 950'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1012%26quot%3b)' fill='none'%3e%3crect width='1920' height='950' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M 0%2c464 C 76.8%2c416 230.4%2c258.6 384%2c224 C 537.6%2c189.4 614.4%2c298.6 768%2c291 C 921.6%2c283.4 998.4%2c187.4 1152%2c186 C 1305.6%2c184.6 1382.4%2c304.4 1536%2c284 C 1689.6%2c263.6 1843.2%2c124 1920%2c84L1920 950L0 950z' fill='%23184a7e'%3e%3c/path%3e%3cpath d='M 0%2c793 C 128%2c741 384%2c531 640%2c533 C 896%2c535 1024%2c810.6 1280%2c803 C 1536%2c795.4 1792%2c556.6 1920%2c495L1920 950L0 950z' fill='%232264ab'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1012'%3e%3crect width='1920' height='950' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.container{
    width: 450px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
}

.container h2{
    font-weight: 600;
    font-size: 1.31rem;
    padding: 1rem 1.75rem;
    border-bottom: 1px solid #d4dbe5;
}

.wrapper{
    margin: 1.25rem 1.75rem;
}

.wrapper .input-box{
    position: relative;
}

.input-box input{
    width: 100%;
    height: 53px;
    color: #000;
    background: none;
    font-size: 1.06rem;
    font-weight: 500;
    border-radius: 4px;
    letter-spacing: 1.4px;
    border: 1px solid #aaa;
    padding: 0 2.85rem 0 1rem;
}

.input-box span{
    position: absolute;
    right: 13px;
    cursor: pointer;
    line-height: 53px;
    color: #707070;
}

.input-box span:hover{
    color: #43A047 !important;
}

.wrapper .pass-indicator{
    width: 100%;
    height: 4px;
    position: relative;
    margin-top: 0.75rem;
    border-radius: 25px;
}

.pass-indicator::before{
    position: absolute;
    content: "";
    height: 100%;
    width: 50%;
    border-radius: inherit;
    transition: width 0.3s ease;
}

.pass-indicator#weak::before{
    width: 20%;
    background: #e64a4a;
}

.pass-indicator#medium::before{
    width: 50%;
    background: #f1c80b;
}

.pass-indicator#strong::before{
    width: 100%;
    background: #43A047;
}

.wrapper .pass-length{
    margin: 1.56rem 0 1.25rem;
}

.pass-length .details{
    display: flex;
    justify-content: space-between;
}

.pass-length input{
    width: 100%;
    height: 5px;
}

.pass-settings .options{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    margin-top: 1rem;
}

.pass-settings .options .option{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    width: calc(100% / 2);
}

.options .option:first-child{
    pointer-events: none;
}

.options .option:first-child input{
    opacity: 0.7;
}

.options .option input{
    height: 16px;
    width: 16px;
    cursor: pointer;
}

.options .option label{
    cursor: pointer;
    color: #4f4f4f;
    padding-left: 0.63rem;
}

.wrapper .generate-btn{
    width: 100%;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    background: #43A047;
    font-size: 1.06rem;
    padding: 0.94rem 0;
    border-radius: 5px;
    text-transform: uppercase;
    margin: 0.94rem 0 1.3rem;
}